<div ng-controller="loginCtrl">
<div class="well" ng-show="data.noLogin">
<form name="loginForm" novalidate ng-submit="authenticate(user.username,user.password)">
  <h4>Accesso usuarios registrados:</h4>
  <div ng-show="data.authenticationError" class="error"> Datos incorrectos!</div>
	<div class="form-group">
		<label>Correo electronico:</label>
		<input class="form-control" ng-model="user.username" id="userNameLogin"/>
	</div>

	<div class="form-group">
		<label>Contrase&ntilde;a</label>
		<input class="form-control" ng-model="user.password" type="password" />
	</div>
	<div class="text-center">
		<button class="btn btn-primary" type="submit">Acceder</button>
	</div>
	<div class="text-center">
		<a href="#nuevoUsuario" >Registro nuevo usuario</a>
	</div>
	<div class="text-center">
		<a href="#claveOlvidada" >Contrase&ntilde;a olvidada</a>
	</div>
</form>

</div>
</div>
